USE [BibliotecaLerEducar]
GO
/****** Objeto:  Table [dbo].[AVARIA]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVARIA](
	[id_registro] [int] IDENTITY(1,1) NOT NULL,
	[id_exemplar] [int] NULL,
	[descricao] [text] NULL,
	[imagem_url] [varchar](255) NULL,
	[data_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ENDERECO]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[id_endereco] [int] IDENTITY(1,1) NOT NULL,
	[logradouro] [varchar](150) NULL,
	[numero] [varchar](10) NULL,
	[bairro] [varchar](50) NULL,
	[cidade] [varchar](50) NULL,
	[estado] [char](2) NULL,
	[cep] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_endereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[EXEMPLAR]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXEMPLAR](
	[id_exemplar] [int] IDENTITY(1,1) NOT NULL,
	[id_livro] [int] NULL,
	[codigo_barras] [varchar](50) NULL,
	[status] [varchar](20) NULL,
	[estado_fisico] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_exemplar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_barras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[GESTOR_ESCOLAR]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GESTOR_ESCOLAR](
	[id_gestor] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_instituicao] [int] NULL,
	[nome] [varchar](100) NOT NULL,
	[cpf] [varchar](14) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_gestor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[INSTITUICAO]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTITUICAO](
	[id_instituicao] [int] IDENTITY(1,1) NOT NULL,
	[razao_social] [varchar](150) NOT NULL,
	[cnpj] [varchar](18) NULL,
	[email_institutional] [varchar](100) NULL,
	[telefone] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[tipo_instituicao] [varchar](50) NULL,
	[endereco] [varchar](255) NULL,
	[cep] [varchar](10) NULL,
	[id_endereco] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_instituicao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cnpj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[INSTITUICAO_SERIE]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTITUICAO_SERIE](
	[id_serie] [int] IDENTITY(1,1) NOT NULL,
	[id_instituicao] [int] NULL,
	[serie] [varchar](50) NULL,
	[data_criacao] [datetime] NULL,
	[status_contato] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ITENS_EMPRESTIMO]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITENS_EMPRESTIMO](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[id_protocolo] [int] NULL,
	[id_livro] [int] NULL,
	[serie] [varchar](50) NULL,
	[quantidade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[LIVRO]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRO](
	[id_livro] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](200) NOT NULL,
	[autor] [varchar](100) NULL,
	[ano_publicacao] [int] NULL,
	[categoria] [varchar](50) NULL,
	[qt_estoque] [int] NULL,
	[ativo_indicada] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_livro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[LOGISTICA]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGISTICA](
	[id_logistica] [int] IDENTITY(1,1) NOT NULL,
	[id_protocolo] [int] NULL,
	[codigo_rastreio] [varchar](50) NULL,
	[status_entrega] [varchar](50) NULL,
	[prazo_entrega] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_logistica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[PROTOCOLO_EMPRESTIMO]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROTOCOLO_EMPRESTIMO](
	[id_protocolo] [int] IDENTITY(1,1) NOT NULL,
	[id_instituicao] [int] NULL,
	[id_gestor] [int] NULL,
	[data_criacao] [datetime] NULL,
	[data_vencimento] [datetime] NULL,
	[status] [varchar](20) NULL,
	[numero_protocolo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_protocolo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_protocolo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[RENOVACAO]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENOVACAO](
	[id_renovacao] [int] IDENTITY(1,1) NOT NULL,
	[id_protocolo] [int] NULL,
	[cod_postagem_reversa] [varchar](50) NULL,
	[status_entrega] [varchar](50) NULL,
	[data_renovacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_renovacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[USUARIO]    Data do Script: 06/05/2026 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[senha] [varchar](255) NOT NULL,
	[tipo_usuario] [varchar](20) NULL,
	[data_criacao] [datetime] NULL,
	[ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AVARIA] ADD  DEFAULT (getdate()) FOR [data_registro]
GO
ALTER TABLE [dbo].[INSTITUICAO_SERIE] ADD  DEFAULT (getdate()) FOR [data_criacao]
GO
ALTER TABLE [dbo].[LIVRO] ADD  DEFAULT ((0)) FOR [qt_estoque]
GO
ALTER TABLE [dbo].[LIVRO] ADD  DEFAULT ((1)) FOR [ativo_indicada]
GO
ALTER TABLE [dbo].[PROTOCOLO_EMPRESTIMO] ADD  DEFAULT (getdate()) FOR [data_criacao]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [data_criacao]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[AVARIA]  WITH CHECK ADD FOREIGN KEY([id_exemplar])
REFERENCES [dbo].[EXEMPLAR] ([id_exemplar])
GO
ALTER TABLE [dbo].[EXEMPLAR]  WITH CHECK ADD FOREIGN KEY([id_livro])
REFERENCES [dbo].[LIVRO] ([id_livro])
GO
ALTER TABLE [dbo].[GESTOR_ESCOLAR]  WITH CHECK ADD FOREIGN KEY([id_instituicao])
REFERENCES [dbo].[INSTITUICAO] ([id_instituicao])
GO
ALTER TABLE [dbo].[GESTOR_ESCOLAR]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[INSTITUICAO]  WITH CHECK ADD  CONSTRAINT [FK_Instituicao_Endereco] FOREIGN KEY([id_endereco])
REFERENCES [dbo].[ENDERECO] ([id_endereco])
GO
ALTER TABLE [dbo].[INSTITUICAO] CHECK CONSTRAINT [FK_Instituicao_Endereco]
GO
ALTER TABLE [dbo].[INSTITUICAO_SERIE]  WITH CHECK ADD FOREIGN KEY([id_instituicao])
REFERENCES [dbo].[INSTITUICAO] ([id_instituicao])
GO
ALTER TABLE [dbo].[ITENS_EMPRESTIMO]  WITH CHECK ADD FOREIGN KEY([id_livro])
REFERENCES [dbo].[LIVRO] ([id_livro])
GO
ALTER TABLE [dbo].[ITENS_EMPRESTIMO]  WITH CHECK ADD FOREIGN KEY([id_protocolo])
REFERENCES [dbo].[PROTOCOLO_EMPRESTIMO] ([id_protocolo])
GO
ALTER TABLE [dbo].[LOGISTICA]  WITH CHECK ADD FOREIGN KEY([id_protocolo])
REFERENCES [dbo].[PROTOCOLO_EMPRESTIMO] ([id_protocolo])
GO
ALTER TABLE [dbo].[PROTOCOLO_EMPRESTIMO]  WITH CHECK ADD FOREIGN KEY([id_gestor])
REFERENCES [dbo].[GESTOR_ESCOLAR] ([id_gestor])
GO
ALTER TABLE [dbo].[PROTOCOLO_EMPRESTIMO]  WITH CHECK ADD FOREIGN KEY([id_instituicao])
REFERENCES [dbo].[INSTITUICAO] ([id_instituicao])
GO
ALTER TABLE [dbo].[RENOVACAO]  WITH CHECK ADD FOREIGN KEY([id_protocolo])
REFERENCES [dbo].[PROTOCOLO_EMPRESTIMO] ([id_protocolo])
GO
